
$small_margin: 0.75rem;
$small_normal_margin: 0.875rem;
$normal_margin: 1rem;
$normal_large_margin: 1.25rem;
$large_margin: 1.5rem;

$small_font: 0.75rem;
$small_normal_font:0.8751em;
$normal_font:1rem;
$normal_large_font: 1.25rem;
$large_font: 1.5rem;

$header_font: 'Julius Sans One', Sans-Serif;
$body_font: 'Monda', Sans-Serif;


