@import 'variables';

.Container {
  height: 35rem;
  width: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  align-self: center;
  justify-self: center;
  //background: linear-gradient(to top, #d3cce3, #e9e4f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  //box-shadow: 0 10px 20px transparentize(#d3cce3, 0.6), 0 3px 6px transparentize(#d3cce3, 0.3);

}