@import 'variables';

.Container {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  outline: none;
  align-self: center;
  justify-self: center;
  margin: auto;
  padding: $normal_margin;
  background-color: #f0f0f0;
}